$base-font-size: 1.5em; // Базовый размер шрифта
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

h2 {
  font-family: "Inter", sans-serif;
  font-size: calc(#{$base-font-size} + 4vw + 4vh);
  letter-spacing: -0.025em;
  line-height: 96%;
  font-weight: 300;
  // text-transform: uppercase;
}

h3 {
  font-size: calc(#{$base-font-size} + 1.25vw + 1.25vh);
  line-height: 100%;
  font-weight: 300;
  letter-spacing: -0.05em;
}

h4 {
  font-size: calc(#{$base-font-size} + 0.5vw + 0.5vh);
  line-height: 100%;
  font-weight: 300;
  letter-spacing: -0.05em;
}

span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.975em;
  line-height: 100%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: -0.05em;
  line-height: 116%;
}
// TABLET
@media only screen and (min-width: 728px) {
  // -
}

// MOBILE
@media only screen and (max-width: 600px) {
  h2 {
    font-size: calc(#{$base-font-size} + 1.75vw + 1.75vh);
  }
}

// iPhone X
@media (min-width: 375px) and (max-width: 414px) {
  h2 {
    font-size: calc(#{$base-font-size} + 1.4vw + 1.4vh);
  }
}

// iPhone 7
@media (min-width: 350px) and (max-width: 375px) {
  h2 {
    font-size: calc(#{$base-font-size} + 1.25vw + 1.25vh);
  }
}

// iPhone 5
@media (min-width: 320px) and (max-width: 350px) {
  h2 {
    font-size: calc(#{$base-font-size} + 0.75vw + 0.75vh);
  }
}
