@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: cubic-bezier(0.19, 1, 0.22, 1) all 1s;
  font-family: "Inter Tight", "Lora", sans-serif;
  color: var(--white);
  background-color: var(--black);
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 0;
}

:root {
  /* white */
  --white: #ffffff;
  --wh: #ffffff00;
  --wh15: #ffffff15;
  --wh50: #ffffff50;

  /* neutral */
  --black: #000000;
  --bl15: #00000015;
  --bl50: #00000050;
  --dark: #090809;

  /* vars */
  --primary: #242638;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Изменение стиля выделения текста */
::selection {
  background-color: var(--white); /* цвет фона выделения */
  color: var(--primary); /* цвет текста при выделении */
}

/* divs */
@layer components {
  .pxes {
    @apply px-5 min-[600px]:px-6 min-[768px]:px-8;
  }

  .pyes {
    @apply pb-48 pt-48;
  }

  .myes {
    @apply my-3 md:my-5;
  }

  /* Helper */
  /* GUI */

  .bl {
    @apply border border-black;
  }

  .bw {
    @apply border border-white;
  }
}

/* количество строк */
.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* количество строк, которое вы хотите отображать */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Scrollbar */
/* Selector */
::-webkit-scrollbar {
  width: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}

/* Lenis */
/* Lenis */
/* Lenis */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Hover */
/* Hover */
/* Hover */

.hover {
  position: relative;
  color: var(--white);
  text-decoration: none;
}

.hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover:hover::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: bottom left;
}
